/* contact에 대한 css */
@keyframes jump{
    50%{
        transform:translateY(-10px);
    }
}
@import "./variable.scss";
@mixin respond-to($media){
    @if $media==mobile{
        @media only screen and (max-width : $tabletSize){
            @content;
        }
    }
    @else if $media==tablet{
        @media only screen and (min-width:$tabletSize) and (max-width: $pcSize){
            @content;
        }
    }
    @else if $media==pc{
        @media only screen and (min-width:$pcSize){
            @content;
        }
    }
}
.mail img{
    @include respond-to(mobile){
        width: 40px;
    }
    @include respond-to(tablet){
        width: 100px;
    }
    @include respond-to(pc){
        width: 150px;
    }
}
.kakao img{
    @include respond-to(mobile){
        width: 40px;
    }
    @include respond-to(tablet){
        width: 100px;
    }
    @include respond-to(pc){
        width: 150px;
    }
}
#contact{
    font-family: 'Montserrat', sans-serif;
    padding: 3vw 4vw 3vw 4vw;
    border-radius:10px;
    border-style:solid;
    border-width: 0.5vw;
    margin: 1vw;
    margin-left:10vw;
}
.clist{
    height: 300px;
    width: 300px;
}
.contacttitle{
    font-size:5vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vw;
}
.mail{
    display:flex;
}
.kakao{
    display:flex;
}
.mailtext{
    display: flex;
    margin-left: 3vw;
    align-items: center;
    flex-basis:70%;
}
.kakaotext{
    display: flex;
    margin-left: 2vw;
    align-items: center;
    flex-basis:70%;
}
.mail:hover, .kakao:hover{
    animation-name : jump;
    animation-duration:0.5s;
}